#                      Zilo Retail Sales & Delivery Analysis

## Introduction
This project focuses on analyzing Ziloâ€™s e-commerce sales data to uncover valuable business insights and patterns that can support data-driven decision-making. 

The main goal of this analysis is to understand how different factors â€” such as product category, pricing, region, and payment methods â€” influence sales performance and customer behavior. Through data cleaning, preprocessing, and exploratory data analysis (EDA), we aim to identify key trends, correlations, and improvement areas that can help Zilo enhance its marketing, inventory, and pricing strategies.

## ðŸŽ¯ Objectives

- Clean and prepare raw datasets for accurate analysis.<br>
- Perform EDA to uncover trends and patterns in sales data.<br>
- Analyze top-performing categories, regions, and products.<br>
- Generate actionable insights for customer engagement and profitability.<br>
- Prepare the data for visualization in Power BI Dashboard.

In [1]:
# Importing required libraries for EDA
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Loading and Getting a Glimpse of the Dataset
The dataset available is in .csv format, so I will load the dataset in csv format to start data analysis.

In [2]:
products = pd.read_csv("products.csv")
orders = pd.read_csv("orders.csv" )

In [3]:
products.head(5)                 # exploring first five variables to identify anamolies in the data

,product_id,product_name,brand,category,price_mrp,price_sale,discount_pct,availability_note,pincodes_available
0,P1000,Outzidr Comfort T-Shirt 1,Outzidr,T-Shirts,1199,899,25,Delivery: 60 mins (select pincodes),400018|400003|400014|400002|400001|400017
1,P1001,Puma Summer Footwear 2,Puma,Footwear,3499,3149,10,Delivery: Same day (select pincodes),400018|400014|400008|400015|400009|400013|4000...
2,P1002,Janasya Striped Innerwear 3,Janasya,Innerwear,1799,1529,15,Delivery: 60 mins (select pincodes),400012|400020|400009|400002|400015|400018
3,P1003,Roadster Black T-Shirt 4,Roadster,T-Shirts,2999,2099,30,Delivery: 3 hours,400012|400019|400007|400003|400002|400011|4000...
4,P1004,Antheaa Sport Footwear 5,Antheaa,Footwear,1499,824,45,Delivery: Same day (select pincodes),400006|400012|400019|400007|400009|400018|4000...

In [4]:
products.columns

Index(['product_id', 'product_name', 'brand', 'category', 'price_mrp',
       'price_sale', 'discount_pct', 'availability_note',
       'pincodes_available'],
      dtype='object')

In [5]:
orders.head(5)                     # exploring first five variables to identify anamolies in the data

,order_id,order_ts,product_id,quantity,unit_price,order_value,pincode,delivery_hours,on_time,is_returned,order_status
0,ORD100000,03-10-2025 11:17,P1002,1,1529,1529,400018,2.5,1,0,delivered
1,ORD100001,20-09-2025 15:03,P1020,1,359,359,400017,0.2,1,0,delivered
2,ORD100002,23-09-2025 16:32,P1038,1,539,539,400002,2.4,1,0,delivered
3,ORD100003,01-10-2025 04:58,P1007,1,2099,2099,400004,1.7,1,0,delivered
4,ORD100004,02-09-2025 07:25,P1012,1,1599,1599,400001,0.9,1,0,delivered

In [6]:
products.shape                              # Returns the number of rows and columns.

(40, 9)

In [7]:
orders.shape

(3000, 11)

In [8]:
products.info()                  # Checking the data types of each feature

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   product_id          40 non-null     object
 1   product_name        40 non-null     object
 2   brand               40 non-null     object
 3   category            40 non-null     object
 4   price_mrp           40 non-null     int64
 5   price_sale          40 non-null     int64
 6   discount_pct        40 non-null     int64
 7   availability_note   40 non-null     object
 8   pincodes_available  40 non-null     object
dtypes: int64(3), object(6)
memory usage: 2.9+ KB

In [9]:
orders.info()                  # Checking the data types of each feature

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        3000 non-null   object
 1   order_ts        3000 non-null   object
 2   product_id      3000 non-null   object
 3   quantity        3000 non-null   int64
 4   unit_price      3000 non-null   int64
 5   order_value     3000 non-null   int64
 6   pincode         3000 non-null   int64
 7   delivery_hours  3000 non-null   float64
 8   on_time         3000 non-null   int64
 9   is_returned     3000 non-null   int64
 10  order_status    3000 non-null   object
dtypes: float64(1), int64(6), object(4)
memory usage: 257.9+ KB

In [10]:
products.describe().T

,count,mean,std,min,25%,50%,75%,max
price_mrp,40.0,2096.500,1194.536172,799.0,999.00,1649.0,2999.0,4499.0
price_sale,40.0,1398.625,801.505305,359.0,764.00,1266.5,2099.0,3399.0
discount_pct,40.0,32.125,15.806827,10.0,18.75,30.0,45.0,60.0

In [11]:
orders.describe().T

,count,mean,std,min,25%,50%,75%,max
quantity,3000.0,1.227000,0.479111,1.0,1.0,1.0,1.0,3.0
unit_price,3000.0,1402.845000,825.222579,359.0,764.0,1274.0,1799.0,3399.0
order_value,3000.0,1728.099667,1317.957678,359.0,764.0,1529.0,2099.0,9447.0
pincode,3000.0,400010.586667,5.811117,400001.0,400005.0,400011.0,400016.0,400020.0
delivery_hours,3000.0,7.774833,13.870841,0.2,1.3,2.7,5.5,95.7
on_time,3000.0,0.895667,0.305743,0.0,1.0,1.0,1.0,1.0
is_returned,3000.0,0.047667,0.213095,0.0,0.0,0.0,0.0,1.0

In [12]:
# checking total number of missing values in each feature
products.isnull().sum().sort_values(ascending= False)

product_id            0
product_name          0
brand                 0
category              0
price_mrp             0
price_sale            0
discount_pct          0
availability_note     0
pincodes_available    0
dtype: int64

In [13]:
# checking total number of missing values in each feature
orders.isnull().sum().sort_values(ascending= False)

order_id          0
order_ts          0
product_id        0
quantity          0
unit_price        0
order_value       0
pincode           0
delivery_hours    0
on_time           0
is_returned       0
order_status      0
dtype: int64

In [16]:
# Convert to datetime (day comes first)
orders['order_ts'] = pd.to_datetime(orders['order_ts'], dayfirst=True)

# Derived columns
orders['order_date'] = orders['order_ts'].dt.date
orders['order_hour'] = orders['order_ts'].dt.hour
orders['order_dow'] = orders['order_ts'].dt.day_name()

# Quick null checks
print('Orders nulls:')
print(orders.isnull().sum())

# Preview
orders.head(6)

Orders nulls:
order_id          0
order_ts          0
product_id        0
quantity          0
unit_price        0
order_value       0
pincode           0
delivery_hours    0
on_time           0
is_returned       0
order_status      0
order_date        0
order_hour        0
order_dow         0
dtype: int64

,order_id,order_ts,product_id,quantity,unit_price,order_value,pincode,delivery_hours,on_time,is_returned,order_status,order_date,order_hour,order_dow
0,ORD100000,2025-10-03 11:17:00,P1002,1,1529,1529,400018,2.5,1,0,delivered,2025-10-03,11,Friday
1,ORD100001,2025-09-20 15:03:00,P1020,1,359,359,400017,0.2,1,0,delivered,2025-09-20,15,Saturday
2,ORD100002,2025-09-23 16:32:00,P1038,1,539,539,400002,2.4,1,0,delivered,2025-09-23,16,Tuesday
3,ORD100003,2025-10-01 04:58:00,P1007,1,2099,2099,400004,1.7,1,0,delivered,2025-10-01,4,Wednesday
4,ORD100004,2025-09-02 07:25:00,P1012,1,1599,1599,400001,0.9,1,0,delivered,2025-09-02,7,Tuesday
5,ORD100005,2025-09-29 17:36:00,P1021,1,1624,1624,400007,57.1,0,0,delivered,2025-09-29,17,Monday

In [ ]:
# KPI calculations
kpis = {
    'total_orders': len(orders),
    'total_revenue': orders['order_value'].sum(),
    'avg_delivery_hours': orders['delivery_hours'].mean(),
    'on_time_pct': orders['on_time'].mean() * 100,
    'return_rate_pct': orders['is_returned'].mean() * 100,
    'AOV': orders['order_value'].mean()
}

for key, value in kpis.items():
    print(f"{key}: {value}")

In [ ]:
# Top products by revenue
top_products = (
    orders.groupby(['product_id'])
    .agg(total_revenue=('order_value','sum'), orders=('order_id','count'))
    .merge(products[['product_id','product_name','brand']], on='product_id', how='left')
    .sort_values('total_revenue', ascending=False)
)

top_products.head(12)

In [ ]:
# Pincode summary: orders, revenue, avg delivery, on-time %
pincode_summary = (
    orders.groupby('pincode')
    .agg(orders=('order_id','count'), revenue=('order_value','sum'), avg_delivery_hr=('delivery_hours','mean'), on_time_pct=('on_time', 'mean'))
    .reset_index()
    .sort_values('orders', ascending=False)
)

# convert on_time_pct to percentage
pincode_summary['on_time_pct'] = pincode_summary['on_time_pct'] * 100

pincode_summary.head(12)

In [ ]:
plt.figure(figsize=(8,4))
plt.hist(orders['delivery_hours'], bins=20)
plt.title('Delivery hours distribution')
plt.xlabel('Delivery hours')
plt.ylabel('Number of orders')
plt.tight_layout()
plt.show()

In [ ]:
# Return rates by product
return_stats = (
    orders.groupby('product_id')
    .agg(orders=('order_id','count'), returns=('is_returned','sum'))

)
return_stats['return_rate_pct'] = (return_stats['returns'] / return_stats['orders']) * 100
return_stats = return_stats.merge(products[['product_id','product_name','brand','category']], on='product_id', how='left')
return_stats.sort_values('return_rate_pct', ascending=False).head(12)

In [ ]:
# merge datasets 
merged_df = pd.merge(orders, products, on='product_id', how='left')
merged_df.head(5)

## Business Insights

### 1.Total Revenue

In [ ]:
# Calculate total revenue
merged_df['total_price'] = merged_df['unit_price'] * merged_df['quantity']
total_revenue = merged_df['total_price'].sum()
print(total_revenue)

### 2.Top Products by Revenue

In [ ]:
# Group by category
category_rev = merged_df.groupby('category')['total_price'].sum().sort_values(ascending=False)
print("Revenue by Category:\n", category_rev)

#### Conclusion:
Footwear is the top revenue-generating category.<br>
A few products dominate the majority of revenue

### 3.Average Order Value (AOV)

In [ ]:
# AOV(Avg Order Value)
aov = total_revenue / merged_df['order_id'].nunique()
print(f"Average Order Value (AOV): {aov:.2f}")

### 3.Monthly Revenue Trend

In [ ]:
if 'order_date' in merged_df.columns:
    merged_df['order_date'] = pd.to_datetime(merged_df['order_date'])
    merged_df['Month'] = merged_df['order_date'].dt.to_period('M')
    monthly_rev = merged_df.groupby('Month')['total_price'].sum()
    print("Monthly Revenue Trend:\n", monthly_rev)

#### Conclusion
Revenue shows a declining trend from September to October.

In [ ]:
orders.to_csv('C:/Users/Nishi/Documents/Zilo_Project/orders_clean.csv', index=False)
products.to_csv('C:/Users/Nishi/Documents/Zilo_Project/products_clean.csv', index=False)
top_products.head(200).to_csv('C:/Users/Nishi/Documents/Zilo_Project/top_products_by_revenue.csv', index=False)
pincode_summary.to_csv('C:/Users/Nishi/Documents/Zilo_Project/pincode_summary.csv', index=False)

## ðŸ“Œ Final Insights & Business Suggestions

- Footwear and Innerwear are the top-performing categories by revenue â€” focus on stocking and promoting these further.<br>
- A small number of products generate a majority of sales â€” consider expanding high-performing product lines.<br>
- Monthly revenue shows a decline from September to October â€” investigate potential reasons (e.g., marketing gap, seasonality).<br>
- Average Order Value (AOV) is consistent but can be improved by offering bundled products or threshold-based discounts.<br>
- Low-selling categories should be reviewed for optimization or replacement to increase overall profitability.<br>